<div *ngFor="let tweet of tweetList" class="container border m-3">
    <div class="row">

        <div class="col-8">
            <b>{{tweet.user.username}}</b>
            {{tweet.tweet}}
        </div>
        <div class="col-4 text-right" style="font-size: small;">
           <em>{{tweet.date}}</em> 
        </div>
    </div>
    <br>
    <div class="row">
        <i class="fas fa-reply m-3 d-inline-block" style="cursor: pointer;" (click)="tweet.replyInputEnable=!tweet.replyInputEnable; newReply=''"></i>
        <i class="fas fa-thumbs-up m-3 d-inline-block" [ngClass]="{'text-danger': isLiked(tweet.like)}" (click)="like(tweet.id,tweet)">
            <p *ngIf="tweet.like&&tweet.like.length>0" class="d-inline-block">{{tweet.like.length}}
            </p>
            
        </i>
        <i class="fas fa-trash-alt m-3 d-inline-block " *ngIf="tweet.user.id===userId" (click)="delete(tweet.id)"></i>
    </div>
    <div class="row" *ngIf="tweet.replyInputEnable">
        <div class="col text-left">
            <textarea name="reply" id="reply" cols="70" rows="4" #tweetInput></textarea>
        </div>
        <div *ngIf="isError" class="col text-danger">
            {{errorMsg}}
        </div>
        <div class="col text-right">

            <button class="btn btn-success" (click)="postReply(tweet.id,tweetInput.value)">Post tweet</button>
        </div>
    </div>
    <div *ngIf="tweet.reply" class="row" style="width: 80%;margin-left: 2%; text-align: center;">
        <div *ngFor="let reply of tweet.reply" class="col-12">
            <div class="d-inline-block" style="float: left;">
               <b>{{reply.user.username}}</b> {{reply.tweet}}
            </div>
            <div  class="d-inline-block" style="float: right;">
                <div style="font-size: small;" >
                    <em> {{reply.date}}</em>
                 </div>
            </div>
        </div>
    </div>
</div>
