<nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: #e3f2fd;">
    <a class="navbar-brand" [routerLink]="['#']">
        <img [src]="headerLogoFilename" width="30" height="30" class="d-inline-block align-top" alt="3M"> 
        <h4 class="d-inline-block align-top m-0 custom-bold">
            Tweet
        </h4>
        <button class="btn btn-primary" [routerLink]="['/tweets']">Tweets</button>
        <button class="btn btn-primary" [routerLink]="['/users']">Users</button>
    </a>
    <div class="navbar-brand ml-auto">
        <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
        <button class="btn btn-danger" [routerLink]="['/register']" >Register</button>
        <button class="btn btn-danger" [routerLink]="['/login']" >Logout</button>
    </div>
</nav>