<!-- Default form register -->
<div class="container-sm p-4" style="max-width: 600px;">
    <form [formGroup]="registerForm" class="text-center border border-light p-5">

        <p class="h4 mb-4">Sign up</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" formControlName="firstname" placeholder="First name">
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="defaultRegisterFormLastName" class="form-control" formControlName="lastname" placeholder="Last name">
            </div>
        </div>

        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" formControlName="e_mail" placeholder="E-mail">
        <!-- Login id -->
        <input type="text" id="defaultRegisterFormLoginId" class="form-control mb-4" formControlName="username" placeholder="User Name">
        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" formControlName="password" placeholder="Password"
            aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>
        <input type="password" id="defaultRegisterFormConfirmPassword" class="form-control" formControlName="retypePass" placeholder="Confirm Password"
            aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>

        <!-- Phone number -->
        <input type="text" id="defaultRegisterPhonePassword" class="form-control" formControlName="phoneNumber" placeholder="Phone number"
            aria-describedby="defaultRegisterFormPhoneHelpBlock">
        <!-- <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
            Optional - for two-step authentication
        </small> -->

        <!-- Newsletter -->
        <!-- <div class="row">
            <div class="col-md-6 mx-auto d-flex justify-content-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Checked checkbox
                    </label>
                </div>
            </div>
        </div> -->

        <!-- Sign up button -->
        <button block="true" class="btn btn-primary m-1" type="submit" style="min-width: 200px;" (click)="register()">Sign up</button>
        <div *ngIf="errBol" class="text-danger">
            {{errMsg}}
        </div>
        <div *ngIf="success" class="text-success"> 
            User registered successfully!
        </div>
        
        <!-- Social register
    <p>or sign up with:</p>

    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="github"></mdb-icon>
    </a> -->

        <hr>

        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="">terms of service</a>
        </p>

    </form>
    <!-- Default form register -->
</div>